<footer class="footer">
  <!-- NOTE: form is static, no submission functionality in this template -->
      <form class="contact-form" onsubmit="return false;">
        <a href="contact.html"><h2>Contact</h2></a>
        <label>
          Name
          <input type="text" name="name" placeholder="Your name" />
        </label>
        <label>
          Message
          <textarea name="message" placeholder="Your message"></textarea>
        </label>
        <button class="btn" type="button">Send (stub)</button>
      </form>
    
    <section class="addresses">
    <address>
      <a href="contact.html"><h2 class="address-heading">Location</h2></a>
      <a href="https://www.google.com/maps/place/515+S+Elm+St,+Greensboro,+NC+27406/@36.06677,-79.7904256,17z/data=!3m1!4b1!4m6!3m5!1s0x885319218a074dd1:0x1c7b29f7c36a50cd!8m2!3d36.06677!4d-79.7904256!16s%2Fg%2F11bw3yxj_y?entry=ttu&g_ep=EgoyMDI1MTEyMy4xIKXMDSoASAFQAw%3D%3D"><p>Greensboro 515 S Elm St</p></a>
      <a href="https://www.google.com/maps/place/3205+N+Davidson+St,+Charlotte,+NC+28205/@35.2472893,-80.8056069,17z/data=!3m1!4b1!4m6!3m5!1s0x88541f07d77d22b7:0x91e4a14f491b958e!8m2!3d35.2472893!4d-80.8056069!16s%2Fg%2F11nyh81y8s?entry=ttu&g_ep=EgoyMDI1MTEyMy4xIKXMDSoASAFQAw%3D%3D"><p>Charlotte 3205 N Davidsion St</p></a>
    </address>
    <address>
      <a href="mailto:melonjugo@gmail.com">melonjugo@gmail.com</a>
      <a href="tel:+(980) 432-3108">(980) 432-3108</a>
    </address>
    <a href="index.html" class="logo">
        <img src="https://images.squarespace-cdn.com/content/v1/67cf71a48a9c4f3de71c1341/2c837587-2069-4276-8f98-348194451dcb/D7B8A19A-6683-498A-8F28-C5447229EDBE.png?format=1500w" alt="The Jugo Bar logo" />
      </a>
    </section>

  </footer>